* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.img1 {
width: 33.3%;
}

.img2 {
    width: 33.3%;
}

.img3 {
    width: 33.3%;
}

.img4 {
    width: 99.9%;
}

.img5{
    width: 50%;
}

.img6 {
    width: 50%;
}

.img7 {
    width: 50%;
    
}
.img8 {
    width: 25%;
    height: 50%;
}

.img9 {
    width: 25%;
    height: 50%;
}

.img10 {
    width: 25%;
    height: 50%;
}

.img11 {
    width: 25%;
   height: 50%;
}

.img12 {
    width: 50%;
    
    
}



@media(max-width: 1000px){
    .row img {
        width: 50%;
    }
}

@media(max-width: 520px){
    .row img{
        width: 100%;
    }
}


img {
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    border-radius: 5px;
    overflow: hidden;
}

img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius: 10px;
    overflow: hidden;
}